@page
@model Chirp.Web.Pages.AboutMeModel
@{
}

@{
    if (!User.Identity?.IsAuthenticated == true)
    {
        RedirectToPage("/");
    }
}

<h2>About Me</h2>

<div class="user-info">
    <img class="api-avatar_url claim-img" alt="">
    <p>
        <span class="label">ID:</span> 
        <span class="api-id"><span/>
    </p>
    <p>
        <span class="label">Username:</span> 
        <span class="api-login"><span/>
    <p>
        <span class="label">Name:</span> 
        <span class="api-name"><span/>
    </p>
    <p>
        <span class="label">GitHub URL:</span> 
        <a href="@Model.GithubURL" target="_blank">@Model.GithubURL</a>
    </p>
</div>

<div>
    <h3>Followers</h3>
    <p>List of followers</p>
</div>

<hr/>

@*! Download My Data *@

<div class="">
    <h3>Get user data</h3>
    <p>Get a copy of your user data.</p>
    <div class="end">
        <button class="seed-btn">Download Data</button>
    </div>
</div>

<hr/>

@*! Forget Me *@
<div class="">
    <h3>Delete account</h3>
    <p style="color: red">- Describe what happens when the account is deleted (deleted data, updated to anonymous, ...) </p>
    <p>Do not want to be a part of Chirp! anymore? </p>
    <div class="end">
        <button class="unseed-btn">Forget Me</button>
    </div>
</div>


<script>
    var GithubURL = '@Model.GithubURL';
</script>

<script src="/js/claims.js"></script>