@page
@model Chirp.Web.Pages.ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h2 id="red" class="center error-header">Error: 404</h2>

<img id="error-icon" src="images/icon2.png" alt="">

<p id="error-message">You are requesting a page that does not exist!</p>
