@page "/"
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    @*! Textbox  *@
    @if (User.Identity?.IsAuthenticated == true)
    {
        <button class="toggleButton">Write Cheep</button>

        <hr/>

        <div class="textbox-container collapsed">
            <h2>Write Cheep</h2>

            <div class="form-container">
                <form method="post" asp-page-handler="Chirp">
                    <div class="form-group">
                        <textarea asp-for="CheepMessage" id="text" rows="5" maxlength="@Model.CheepMaxLength" 
                        required placeholder="Write your cheep here!"></textarea> @*asp-for does not correctly update CheepMessage value*@
                    </div>
                    <div class="bottom-container">
                        <div>
                            <button type="submit">Chirp!</button>
                        </div>
                        <div>
                            <p class="char-count">Characters: <span id="char-counter">0</span>/@Model.CheepMaxLength</p>
                        </div>
                    </div>
                </form>
            </div>
            <hr/>
        </div>
    }

    @*! Header  *@
    <header>
        <h2> Public Timeline </h2>
        <span class="display-page"> Page @Model.CurrentPage/@Model.TotalPageCount </span>
    </header>

    @if (Model.Cheeps.Any())
    {
        @*! Context  *@
        <partial name="_CheepContextPartial" model="Model"/>

        @*! Pagination  *@
        <partial name="_PaginationPartial" model="Model"/>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>

<script>

    // textarea
    const textArea = document.getElementById("text");
    const charCounter = document.getElementById("char-counter");
    
    textArea.addEventListener("input", function () {
        charCounter.textContent = textArea.value.length;
    });

    // toggle button
    const toggleButton = document.querySelector(".toggleButton");
    const textboxContainer = document.querySelector(".textbox-container");

    toggleButton.addEventListener("click", function () {
        textboxContainer.classList.toggle("collapsed");
        toggleButton.classList.toggle("active-color")
    });
</script>