@page
@model Chirp.Web.Pages.SeedDBModel
@{
}

<h2>Seed Database</h2>

<div class="seed-info">
    <h3>
        <i class="fa-solid fa-triangle-exclamation caution"></i>
        Caution
        <i class="fa-solid fa-triangle-exclamation caution"></i>
    </h3>

    <p> This will clear the database and seed it with test data. </p>
    <div class="seed-container">
        <form method="post" asp-page-handler="SeedDatabase">
            <button class="seed-btn" onclick="confirmSeed()">Reset Database</button>
        </form>
            
        <form method="post" asp-page-handler="ClearDatabase">
            <button class="unseed-btn" onclick="confirmClear()">Clear Database</button>
        </form>
    </div>
</div>

@*! temporary todo list *@
<div class="seed-info" style="text-align: left; color: red">
    <ul>
        <li>This page will be restricted to certain users later</li>
    </ul>
</div>

@* <script src="/js/seedDB.js"></script> *@