@page "/{user}"
@model Chirp.Web.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}


<div>
    @if (User.Identity?.IsAuthenticated == true)
    {
        <partial name="Partials/_Textbox"/>
    }

    <!-- Followers -->
    <partial name="Partials/_FollowersTracker" model="Model"/>
    <hr>    

    <header>
        <h2> @Model.RouteName's Timeline </h2>
        <span class="display-page"> Page @Model.CurrentPage/@Model.TotalPageCount </span>
    </header>


    @if (Model.Cheeps.Any())
    {
        <partial name="Partials/_CheepContext" model="Model"/>
        <partial name="Partials/_Pagination" model="Model"/>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>

 <script src="/js/aboutMe.js"></script>