@page

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@model Chirp.Web.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{

}
else
{
    <div>
        <form asp-page-handler="AuthenticateLogin"  method="post">
            <button><i class="fab fa-github"></i> Sign in</button>
        </form>
        
        <form asp-page-handler="LogOut"  method="post">
                    <button><i class="fab fa-github"></i> Sign out</button>
                </form>
    </div>
}
</ul>
