<ul id="message-list" class="cheeps">
    @foreach (var cheep in Model.Cheeps)
    {
        <li>
            <div class="cheep-container">
                <div>
                    @* TODO - @if... github avatar... else default avatar *@
                    <img class="avatar" src="https://i.imgur.com/D61mmPL.jpg" alt="Icon1" />
                </div>
                <div class="left-content">
                    <p id="cheep-content">
                        <strong>
                            <a id="author" href="/@cheep.AuthorName">@cheep.AuthorName</a>
                        </strong>
                    </p>
                    <p id="cheep-content">
                        <small>@cheep.TimeStamp</small>
                    </p>
                </div>
                <div class="right-content">
                    <p id="cheep-content">
                        @cheep.Message
                    </p>
                </div>
            </div>
        </li>
    }
</ul>