<button class="toggleButton">Write Cheep</button>

<hr/>

<div class="textbox-container">
    <h2>Write Cheep</h2>

    <div class="form-container">
        <form method="post" asp-page-handler="Cheep">
            <div class="form-group">
                <textarea name="CheepMessage" id="text" rows="5" maxlength="@Model.CheepMaxLength" 
                required placeholder="Write your cheep here!"></textarea> @*asp-for does not correctly update CheepMessage value*@
            </div>
            <div class="bottom-container">
                <div>
                    <button type="submit">Cheep!</button>
                </div>
                <div>
                    <p class="char-count">Characters: <span id="char-counter">0</span>/@Model.CheepMaxLength</p>
                </div>
            </div>
        </form>
    </div>
    <hr/>
</div>

<script src="/js/textbox.js"></script>