.seed-info {
    background: linear-gradient(#ffd5d5, #fff5f5ee);
    border: 1px solid #ccc;
    padding: 15px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.caution {
    background: linear-gradient(-45deg, #ed1c94, #ffec17);
    -webkit-background-clip: text;
    background-clip: text; 
    -webkit-text-fill-color: transparent;
}
.seed-info > h3 {
    font-size: 24px;
}

.seed-btn, .unseed-btn {
    background: linear-gradient(to bottom right, #6399b496, #1e3cd2);
    color: #fff;
    border: none;
    border-radius: 2px;
    
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
    
    cursor: pointer;
}

.seed-btn {
    background: linear-gradient(to bottom right, #6399b496, #1e3cd2);
}

.unseed-btn {
    background: linear-gradient(to bottom right, #b4636396, #d21e1e);
}

