.seed-info {
    background: linear-gradient(#ffd5d5, #fff5f5ee);
    border: 1px solid #ccc;
    padding: 15px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.caution {
    background: linear-gradient(-45deg, #ed1c94, #ffec17);
    -webkit-background-clip: text;
    background-clip: text; 
    -webkit-text-fill-color: transparent;
}
.seed-info > h3 {
    font-size: 24px;
}

.seed-btn, .unseed-btn {
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
    width: 150px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.seed-btn {
    background: linear-gradient(to right, #76a9ec, #557da0);
    display: inline;
}

.seed-btn:hover {
    background: linear-gradient(to right, #5aa3d4, #6093d2);
    transform: scale(1.05);
}

.unseed-btn {
    display: inline;
    background: linear-gradient(to right, #cf585896, #d13b3b);
}

.unseed-btn:hover {
    background: linear-gradient(to right, #e5716d, #c84440);
    transform: scale(1.05);
}

.seed-container {
    display: flex;
    justify-content: center;
}