.page > h1 {
    line-height: 100px;
}

.page > h1 > img {
    display: inline-block; 
    vertical-align: middle;
    padding-bottom: 15px;
}

.page > a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

header > h2 {
    margin-bottom: 5px !important;
}

header > .display-page {
    color: #9c9c9c;
}

.cheep-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.left-content {
    flex: 1;
}

.right-content {
    flex: 2;
}

#author {
    text-decoration: none;
    color: #26776f;
}

#author:hover {
    color: #333;
}
