<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"]</title>
    <script src="https://kit.fontawesome.com/6797ef01ad.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/favicon/favicon.ico">
    
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/style2.css" rel="stylesheet" type="text/css" />
    <link href="/css/pagination.css" rel="stylesheet" type="text/css" />
    <link href="/css/navigation.css" rel="stylesheet" type="text/css" />
    <link href="/css/textbox.css" rel="stylesheet" type="text/css" />
    <link href="/css/claims.css" rel="stylesheet" type="text/css" />
    <link href="/css/seed.css" rel="stylesheet" type="text/css" />
    
</head>

<body>

    <partial name="Partials/_Navbar"/>

    <div class=page>
        <a href="/">
            <h1><img src="/images/icon1.png" alt="Icon1" />Chirp!</h1>
        </a>

        <div class=body>
            @RenderBody()
        </div>

        <div class=footer>
            Chirp &mdash; An ASP.NET Application
        </div>
    </div>

</body>
</html>